<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="basicAuthentication" value="http://community.constantcontact.com/t5/Documentation/Basic-Authentication-Over-HTTPs/ba-p/25075" />
    <add key="listCollections" value="http://community.constantcontact.com/t5/Documentation/Retrieving-a-Contact-List-Collection/ba-p/25067" />
    <add key="addList" value="http://community.constantcontact.com/t5/Documentation/Creating-a-New-List/ba-p/25069" />
    <add key="removeList" value="http://community.constantcontact.com/t5/Documentation/Contact-List-Resource/ba-p/25043" />
    <add key="listContacts" value="http://community.constantcontact.com/t5/Documentation/Listing-All-Contacts/ba-p/25061" />
    <add key="updateContact" value="http://community.constantcontact.com/t5/Documentation/Updating-Contact-Information/ba-p/25055" />
    <add key="getAPIKey" value="http://community.constantcontact.com/t5/Documentation/API-Keys/ba-p/25015" />
    <add key="baseUri" value="https://api.constantcontact.com/ws/customers" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>